main {
    background-color: rgb(211, 211, 211);
    
 
   border-radius: 10px;

}

#maincontent {
   
    max-width: 1200px;
  bottom: 0;
  margin-top: 8vh;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25fr);
    grid-auto-flow: row;
    text-align: center;
}

.grid-container>article {
    position: relative;
    color: white;
    margin: 5%;
    aspect-ratio: 1 / 1;
}

.grid-container a {
    display: block;
    height: 100%;
    position: relative;
}

.grid-container>article>div {
    height: 50%;
    width: 100%;
    z-index: 1;
    transform: translate(0, 100%);
    position: absolute;
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
    display: flex;
    align-items: flex-end;
}

#maincontent article>a {
    width: 100%;
    /* Ширина области */
    height: 100%;
   
}

.imgStyle {
    width: 100%;
    /* Ширина изображений */
    height: 100%;
    /* Высота изображении */
    object-fit: cover;
    /* Вписываем фотографию в область */
}

.centringpading {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: relative;
    margin: auto;
}

