html {
   background-color: #ffffff;
 height: auto;

}
body{
       min-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
 
}



footer {
     
    background-color: coral;
    height: 40px;
    bottom: 0;
     
}